#!/usr/bin/env ruby

require 'FileUtils'

def namespace_file(filename)
  content = File.read(filename)
  
  return unless content.index('namespace Mato').nil?
  
  if match_data = content.match(/(class|interface) Tx_([a-zA-Z0-9_]+) (\{|e|i)/)
    namespace_parts = match_data[2].split('_')
    class_name = namespace_parts.pop()
    namespace_parts.unshift('MatoIlic')
    namespace_parts[1] = 'T3Chimp'
  
    new_code = "namespace #{namespace_parts.join('\\')};\n\n#{match_data[1]} #{class_name} #{match_data[3]}"
    content.gsub!(match_data[0], new_code)
    content.gsub!('(c) 2013', '(c) 2014')
  
    File.write(filename, content)
  end
end

Dir.glob('Classes/**/*.php').each {|f| namespace_file(f) }
