{namespace t = MatoIlic\T3Chimp\ViewHelpers}
<p class="t3chimp-field t3chimp-field-address<f:if condition='{field.isRequired}'> t3chimp-field-address-required</f:if> t3chimp-field-{field.name}">
    <f:if condition="{field.isTextField}">
        <f:then>
            <label for="{field.id}">
                <f:translate key="{field.translationKey}">{field.label}</f:translate><f:if condition="{field.isRequired}"> *</f:if>
            </label><br>
            <t:form.address.city property="{field.name}" id="{field.id}" required="{field.isRequired}" />
        </f:then>
        <f:else>
            <span class="caption">
                <f:translate key="{field.translationKey}">{field.label}</f:translate>
            </span><br>

            <label for="{field.id}_addressLine1">
                <f:translate key="address_line1">Address Line 1</f:translate><f:if condition="{field.isRequired}"> *</f:if>
            </label><br>
            <t:form.address.addressLine1 property="{field.name}" id="{field.id}_addressLine1" required="{field.isRequired}" /><br>

            <label for="{field.id}_addressLine2">
                <f:translate key="address_line2">Address Line 2</f:translate>
            </label><br>
            <t:form.address.addressLine2 property="{field.name}" id="{field.id}_addressLine2" required="{field.isRequired}" /><br>

            <label for="{field.id}_city">
                <f:translate key="address_city">City</f:translate><f:if condition="{field.isRequired}"> *</f:if>
            </label><br>
            <t:form.address_city property="{field.name}" id="{field.id}_city" required="{field.isRequired}" /><br>

            <label for="{field.id}_state">
                <f:translate key="address_state">State/Province/Region</f:translate>
            </label><br>
            <t:form.address_state property="{field.name}" id="{field.id}_state" required="{field.isRequired}" /><br>

            <label for="{field.id}_zip">
                <f:translate key="address_zipCode">Postal/Zip Code</f:translate><f:if condition="{field.isRequired}"> *</f:if>
            </label><br>
            <t:form.address_zipCode property="{field.name}" id="{field.id}_zip" required="{field.isRequired}" /><br>

            <label for="{field.id}_country">
                <f:translate key="address_country">Country</f:translate><f:if condition="{field.isRequired}"> *</f:if>
            </label><br>
            <t:form.address_countryList property="{field.name}" id="{field.id}_country" options="{field.countryList}" optionValueField="value" optionLabelField="localizedValue" />
        </f:else>
    </f:if>

    <t:form.errors property="{field.name}" />
</p>
