{namespace t = MatoIlic\T3Chimp\ViewHelpers}
<p class="t3chimp-field t3chimp-field-checkboxes<f:if condition='{field.isRequired}'> t3chimp-field-checkboxes-required</f:if> t3chimp-field-{field.name}">
    <span class="caption">
        <f:translate key="t3chimp: {field.label}">{field.label}</f:translate>
    </span><br>
    <t:form.errors property="{field.name}" />
    <f:for each="{field.choices}" as="choice">
        <t:form.checkbox property="{field.name}" id="{choice.id}" value="{choice.key}" checked="{choice.isSelected}" />
        <label for="{choice.id}">
            {choice.localizedValue}
        </label><br>
    </f:for>
</p>
