{namespace t = Tx_T3chimp_ViewHelpers}

<t:form action="process" controller="Subscriptions" class="t3chimp-form" object="{form}" arguments="{list: form.listId}">
    <t:form.formField property="FORM_ACTION"/>

    <t:form.remainingFields />

    <p class="t3chimp-always t3chimp-submit">
        <f:form.submit value="{f:translate(key: 't3chimp.form.submit')}" />
    </p>

    <p class="t3chimp-always">
        * <f:translate key="t3chimp.form.requiredFields">Required fields</f:translate>
    </p>
</t:form>