.t3chimp-error {
    color: #a00;
}

.t3chimp-loading {
    background: url('../Images/loading.gif') no-repeat top left;
}

.t3chimp-loading * {
    visibility: hidden;
}

.t3chimp-field {

}