{namespace h = Tx_T3chimp_ViewHelpers}

<f:flashMessages renderMode="div" class="errors" />

<f:form action="subscribe" controller="Subscriptions" id="subscription" class="mc-form">
    <f:form.hidden name="cc" id="cc" value="" />

    <p class="mc-action">
        <f:translate key="form.action">Aktion</f:translate><br />

        <f:if condition="{0:action} == {0:'subscribe'}">
            <f:then>
                <f:form.radio name="action" id="action-subscribe" value="subscribe" checked="checked" />
            </f:then>
            <f:else>
                <f:form.radio name="action" id="action-subscribe" value="subscribe" />
            </f:else>
        </f:if>
        <label for="action-subscribe"><f:translate key="form.subscribe">Anmelden</f:translate></label>

        <f:if condition="{0:action} == {0:'unsubscribe'}">
            <f:then>
                <f:form.radio name="action" id="action-unsubscribe" value="unsubscribe" checked="checked" />
            </f:then>
            <f:else>
                <f:form.radio name="action" id="action-unsubscribe" value="unsubscribe" />
            </f:else>
        </f:if>
        <label for="action-unsubscribe"><f:translate key="form.unsubscribe">Abmelden</f:translate></label>
    </p>

    <h:MailchimpForm fieldDefinitions="{fieldDefinitions}" interestGroupings="{interestGroupings}" />

    <p>
        <f:form.submit value="{f:translate(key: 'form.submit')}" />
    </p>

    <p>
        * <f:translate key="form.requiredFields">Pflichtfelder</f:translate>
    </p>
</f:form>